.App {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  min-width: 700px;
  height: 80vh;
}
.preview {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 80vh;
  min-width: 700px;
  max-width: 700px;
}
.preview div:first-child {
  color: red;
  font-size: 2em;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 10px;
}
.input textarea {
  min-width: 700px;
  height: 80vh;
  padding: 15px 0 0 15px;
  border-radius: 15px;
}
.input div:first-child {
  font-size: 2.75em;
  font-weight: bold;
  padding-right: 10px;
}
.output {
  border: 1px solid black;
  height: 100%;
  padding-left: 10px;
  border-radius: 15px;
  overflow: auto;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
